{% extends "navbarbase.html" %}
{% block navcontent %}
<div class="jumbotron">
    <div class="container">
        <center><h2>Welcome to the PKI Open House</h2></center>
        <center><img src="../static/img/PKI-Building-Image.jpg" width="325" height="190"></center>
        <br/>
        <center><a class="btn btn-primary btn-lg" href="/takepicture">Click here to check in</a></center>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        {% for room in rooms %}
        {% endfor %}
    </div>
</div>
{% endblock %}
