{% extends "base.html" %}
{% block content %}
<div class="logincontainer">
<form action="/signin" method="POST" class="form-signin">
    <div class="row">
        <h2 class="form-signin-heading">Sign In</h2>
        {% if error != "" %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <input type="hidden" name="redirect" value="/"/>
        <input type="hidden" name="redirect" value="/"/>
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.name(size=20,class="form-control",placeholder="username") }}
        </div>
        <div class="form-group">
            {{ form.password(placeholder="password",size=20,class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
        <a href="/signup" class="btn btn-success btn-block">Or Sign up</a>

        (username: admin, password: password), <br/>
        (username: user, password: password), <br/>
    </div>
</form>
</div>
{% endblock %}
